{% extends 'base.html' %}
{% block nav_home %} active {% endblock %}
{% block header %}
  <h1>{% block title %}Welcome!{% endblock %}</h1>
{% endblock %}

{% block content %}
  <br>
  <div class="body_home">
    <h3>Welcome to our Final Project for Machine Learning!</h3>
    <p>
      Our final project uses machine learning with the big data of MLB Statistics to
      predict how a team will perform by using a couple different approaches.
    </p>
    <span>
      <h5> This project was completed by: </h5>
      <ul>
        <li>Mark Reifsteck</li>
        <li>Gerald Villanueva</li>
        <li>Shea Styer</li>
      </ul>
    </span>
  </div>
  <br>
  <div class="body_home">
    <h3> The Data </h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum

	  <br>
	  <br>

	  Disclaimer: Be Warned, for both models testing them using our data may produce unusually good results as they may have been included in the training set. Our mean absolute errors are reported only on our testing set and are a better indicator of the validity of the results you get. This application is just provided as a fun way to demonstrate the model.
    </p>
  </div>
  <br>
  <div class="body_home">
    <h3> The First Model </h3>
    <p>
	<br>
	(For year Y)
	<br>
	<br>
	Features: Rank, Home Games, Runs, At Bats, Hits, Doubles, Tripples, Home Runs, Walks, Strikeouts, Stolen Bases, Caught Stealing, Opponent's Runs Scored, Earned Runs, Earned Run Average, Complete Games, Shutouts, Saves, Outs Pitched, Hits Allowed, Home Runs Allowed, Walks Allowed, Strikeouts by Pitchers, Errors, Double Plays, Fielding percentage, Total Home Attendance, Park Factor for Batters, and Park Factor for Batters.
	<br>
	<br>
	Target: Year Y Wins
	<br>
	<br>
	This model is intended to predict how many wins a specific team had acquired given their non-WL data for that year.  It uses 3 100 node fully connected layers. All nodes use linear activation functions. Standard Gradient descent is used as an optimizer and mean square error is used as a loss function. The model is trained for 200 epochs.
	<br>
	<br>
	Test mean absolute error: 2.44 games

    </p>
  </div>
  <br>
  <div class="body_home">
    <h3> The Second Model </h3>
    <p>

	<br>
	(For year Y and using the N previous years model)
	<br>
	<br>
	Features: The following features for each of the N previous years: Rank, Games, Home Games, Wins, Losses, Runs, At Bats, Hits, Doubles, Tripples, Home Runs, Walks, Strikeouts, Stolen Bases, Caught Stealing, Opponent's Runs Scored, Earned Runs, Earned Run Average, Complete Games, Shutouts, Saves, Outs Pitched, Hits Allowed, Home Runs Allowed, Walks Allowed, Strikeouts by Pitchers, Errors, Double Plays, Fielding percentage, Total Home Attendance, Park Factor for Batters, and Park Factor for Batters.
	<br>
	<br>
	Target: Year Y Wins
	<br>
	<br>
	This model is intended to predict how many wins a specific team will acquire given their previous N years of accomplishments. It uses 4 fully connected 100 node layers with 10% dropout on each one to curb overfitting. All nodes use relu as an activation function. Standard gradient descent is used as an optimizer and mean square error is used as a loss function. The model is trained for 1000 epochs.
	<br>
	<br>
	Actual Results:
	<br>
	<br>
	N=1: Test mean absolute error: 8.9956 games
	<br>
	N=3: Test mean absolute error: 8.3953 games
	<br>
	N=5: Test mean absolute error: 8.0164 games
	<br>
	<br>
	Results when using a normalized sized training set (just as an accademic intrest):
	<br>
	<br>
	N=1: Test mean absolute error: 9.1015 games (normalized size in training set)
	<br>
	N=3: Test mean absolute error: 8.7836 games (normalized size in training set)
	<br>
	N=5: Test mean absolute error: 8.0164 games (normalized size in training set)
	<br>


    </p>
  </div>
{% endblock %}
