{% extends 'base.html' %}
{% block nav_home %} active {% endblock %}
{% block header %}
  <h1>{% block title %}Welcome!{% endblock %}</h1>
{% endblock %}

{% block content %}
  <br>
  <div class="body_home">
    <p> Welcome to our Final Project for Machine Learning! </p>
    <p>
      Our final project uses machine learning with the big data of MLB Statistics to
      predict how a team will perform by using a couple different approaches.
    </p>
    <span>
      <h5> This project was completed by: </h5>
      <ul>
        <li>Mark Reifsteck</li>
        <li>Gerald Villanueva</li>
        <li>Shea Styer</li>
      </ul>
    </span>
  </div>
  <br>
  <div class="body_home">
    <p> The Data </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    </p>
  </div>
  <br>
  <div class="body_home">
    <p> The First Model </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    </p>
  </div>
  <br>
  <div class="body_home">
    <p> The Second Model </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    </p>
  </div>
{% endblock %}
