{% extends 'base.html' %}
{% block nav_one %}active{% endblock %}
{% block header %}
  <h1>{% block title %}Same Year Predictions{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="body_home">
    <p> The Single Year Model </p>
    <p>
      This model allows you to predict the number of wins for a team during any given year by
      using the statistics from that year, - wins and losses.
    </p>
    <span>
      <h5> Please select the following: </h5>
      <ul>
        <li>Team Name</li>
        <li>Year of Prediction</li>
      </ul>
    </span>
  </div>
  <br>
  <div class="body_home">
    <form method="post">
      <label class="sr-only" for="inlineFormInputGroup">Team Name</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">Team Name</div>
        <select name="team" class="form-control" aria-label="Team Name" aria-describedby="basic-addon1">
          {% for team in teams.keys() %}
           <option name="{{teams[team]}}" {% if team_selected is defined and team_selected==team %} selected="selected" {% endif %}>{{team}}</option>
          {% endfor %}
        </select>
      </div>

      <label class="sr-only" for="inlineFormInputGroup">Year To Predict</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon">Year To Predict</div>
        <select name="year" class="form-control" aria-label="Year" aria-describedby="basic-addon1">
          {% for year in range(2001, 2017) %}
           <option name="{{year}}" {% if year_selected is defined and year_selected==year %} selected="selected" {% endif %}>{{year}}</option>
          {% endfor %}
        </select>
      </div>
      <br>
      <button type="submit" class="btn btn-success">Calculate Wins</button>
      <button type="reset" class="btn btn-secondary">Reset</button>
    </form>
  </div>
{% endblock %}
